# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio specific files
*.opensdf
*.sdf
*.ncb
*.suo
*.user
*.log
*.tlog
*.pdb
*.lastbuildstate

# Visual Studio output directories
vs2012/Debug
vs2012/Release
vs2012/paq8o8pre/Debug
vs2012/paq8o8pre/Release
vs2012/Precomp/Debug
vs2012/Precomp/Release